$color-primary: #339af0 !default;
$color-default: #424242 !default;
$color-success: #10b956 !default;
$color-warning: rgb(205, 164, 40) !default;
$color-danger: #ce3232 !default;

$color-primary-opacity: hsla(207, 86%, 57%, 0.2) !default;
$color-default-opacity: hsla(0, 0%, 55%, 0.2) !default;
$color-success-opacity: hsl(145, 84%, 39%, 0.2) !default;
$color-warning-opacity: rgb(205, 164, 40, 0.2) !default;
$color-danger-opacity: hsl(0, 61%, 50%, 0.2) !default;

$color-primary-opacity-hover: hsla(207, 86%, 57%, 0.4) !default;
$color-default-opacity-hover: hsl(0, 0%, 55%, 0.4) !default;
$color-success-opacity-hover: hsl(145, 84%, 39%, 0.4) !default;
$color-warning-opacity-hover: rgb(205, 164, 40, 0.4) !default;
$color-danger-opacity-hover: hsl(0, 61%, 50%, 0.4) !default;

$color-white: #fff !default;
$color-gray: #7c7c7c !default;
$color-transparent: transparent;

$font-size-base: 14px !default;
$font-size-large: 16px !default;
$font-size-small: 12px !default;

$font-gray: #d6d6d6;

$border-color-base: #818387 !default;
$border-radius-base: 4px !default;

$button-text-color: #bfbfbf !default;
$button-disabeld-backgroundColor: $color-white !default;

$button-hover-percent: 18% !default;
$button-active-percent: 18% !default;
$button-default-backgroundColor: $color-default !default;
$button-primary-backgroundColor: $color-primary !default;
$button-success-backgroundColor: $color-success !default;
$button-warning-backgroundColor: $color-warning !default;
$button-danger-backgroundColor: $color-danger !default;
// simple button
$button-simple-primary-backgroundColor: $color-primary-opacity !default;
$button-simple-default-backgroundColor: $color-default-opacity !default;
$button-simple-success-backgroundColor: $color-success-opacity !default;
$button-simple-warning-backgroundColor: $color-warning-opacity !default;
$button-simple-danger-backgroundColor: $color-danger-opacity !default;

$button-default-borderColor: $border-color-base !default;

$button-padding-vertical: 8px !default;
$button-padding-horizontal: 14px !default;
$button-large-padding-vertical: 10px !default;
$button-large-padding-horizontal: 16px !default;
$button-small-padding-vertical: 6px !default;
$button-small-padding-horizontal: 12px !default;

$button-font-size: $font-size-base !default;
$button-border-radius: $border-radius-base !default;
$button-round-radius: 20px !default;